<h2>Show photo</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @photo.title %>
  </li>

  <li>
    <strong>Folder:</strong>
    <%= @photo.folder %>
  </li>

</ul>

<%= link "Back", to: photo_path(@conn, :index) %>